{% extends "base.html" %}
{% block title %}Editar Paciente{% endblock %}
{% block content %} <!-- Aquí comienza la página individual-->


    <h1>Editar paciente</h1>
    <form action="" method="post">
        <div class="mb-3">
            <!--Campo de testo par el nomnbre del paciente -->
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" value="{{ paciente[1] }}" class="form-control"><!-- 'name' define la clave del dato enviado-->
        </div>

        <div class="mb-3">
            <!--Campo numérico para la edad del paciente -->
            <label for="edad">Edad:</label>
            <input type="number" name="edad" id="edad" value="{{ paciente[2] }}" class="form-control">
        </div>
        <!--Campo de texto para el diagnóstico del paciente -->
        <div class="mb-3">
            <label for="diagnostico">Diagnóstico:</label>
            <input type="text" name="diagnostico" id="diagnostico" value="{{ paciente[3] }}" class="form-control"><!-- 'name' define la clave del dato enviado-->
        </div>

        <!--Botón para enviar los datos del formulario -->
        <button type="submit" class ="btn btn-success">Guardar cambios</button><br><br>


    </form>
    <br><br>

    <!-- Enlace para volver a la lista de pacientes -->
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Volver a la lista de pacientes</a><br><br>

   <!-- Aquí termina la página individual-->
   {% endblock %} 