{% extends "base.html" %}
{% block title %}Lista de Pacientes{% endblock %}
{% block content %} <!-- Aquí comienza la página individual-->


    <!-- Enlace a la vista d nuevo paciente -->
     <a href="{{url_for('nuevo_paciente')}}" class="btn btn-primary mb-3">Nuevo Paciente</a>

    <!-- Bloque para mostrar menssajes de flash (notificaciones temporales de flask)-->
    <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info">{{ messages[0] }}</div>
        {% endif %}
        {% endwith %} -->



                 <!-- Tabla lista de pacientes -->
      
     <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Diagnóstico</th>    
                <th>Acción</th>
            </tr>
            

            
        </thead>
        <tbody>
            <!-- Iterar sobre la lista de pacientes y crear una fila por cada uno -->
            {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente[0] }}</td>
                    <td>{{ paciente[1] }}</td>
                    <td>{{ paciente[2] }}</td>
                    <td>{{ paciente[3] }}</td>
                    <td><a href={{ url_for('editar_paciente', id=paciente[0])}}>Editar</a> 
                        |
                        <form action="{{ url_for('eliminar_paciente', id=paciente[0]) }}" method="post" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este paciente?');">
                            <button type="submit" class="btn btn-link">Eliminar</button>
                        </form>
                    </td>         
                </tr>
            {% endfor %}
        </tbody>
     </table>
<!-- Aquí termina la página individual-->
{% endblock %} 
