{% extends "base.html" %}
{% block title %}Agregar Paciente{% endblock %}
{% block content %} <!-- Aquí comienza la página individual-->

    <h2>Agregar Paciente</h2> <!--título de la sección-->
    <form method="post">
        <!-- Comando par el nombre del paciente-->
        <div class="mb-3">

            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" class="form-control"><!-- 'name' define la clave del dato enviado-->
        </div>

        <!-- Comando para la edad del paciente-->
        <div class="mb-3">
            <label for="edad">Edad:</label>
            <input type="text" name="edad" id="edad" class="form-control"><!-- 'name' define la clave del dato enviado-->
        </div>

        <!--Comando para el diagnóstico del paciente-->
        <div class="mb-3">
            <label for="diagnostico">Diagnóstico:</label>
            <input type="text" name="diagnostico" id="diagnostico" class="form-control"><!-- 'name' define la clave del dato enviado-->
        </div>

        <!--  botón de enviar datos-->
        <button type="submit" class="btn btn-success">Guardar</button>

        <!--  enlace para volver a la lista de pacientes-->
        <a href="{{url_for('index')}}" class=" btn btn-secundary">Volver a la lista de pacientes</a>



    </form>
    <!-- Aquí termina la página individual-->
    {% endblock %} 